{% extends '::base.html.twig' %}
{% block title %} Busqueda de usuarios {% endblock %}
{% block body -%}

<h2>Resultados de : <u> {{ searchText }} </u> en  <u> {{ searchType }} </u> </h2>


{# ------------ if search in Account box field -------------- #}

{% if allAccounts %}
    
        <div class="row">
        <div class="col-md-9">
            <table class="table border bordered">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cuenta(s)</th>
                    <th>Skill(s)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
        {% for account in allAccounts %}
            {% for user in account.user %}
                <tr>
                    <td>
                    <a class="btn btn-link" data-toggle="modal" data-target="#myModalAccount">
                    <i class="fa fa-heart"></i>
                    </a>
                    &nbsp;{{ user.name }} {{ user.lastName}} {{ user.surName }}</td>
                    <td>
                    {% for account in user.accounts %}
                        <button class="btn btn-link">{{ account.name }}</button>
                    {% endfor %}
                    </td>
                    <td>
                    {% for skill in user.skills %}
                        {% if loop.index0 <= 4 %}
                        <span class="label label-success">{{ skill.skill.name }}</span>
                        {% endif %}
                    {% endfor %}
                    </td>
                    <td>
                        <a href="#" onclick="showCharm({{ user.userId}})" class="btn btn-link" data-toggle="modal" data-target="#myModal">Ver mas</a>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
{# Division #}
    <div class="col-md-3">
    {# concatenar account a user #}
        <ul style="text-decoration:none;list-style-type:none;">
        
        {% for account in allAccounts %}
        {% for user in account.user %}
        <div style="display:none;" class="user-skills" id="user-{{ user.userId }}">
        <h3>Selecciona Skills</h3>
        {% for skill in user.skills %}
            <li>
            <!-- <button type="button" class="btn btn-info btn-circle">
            <i class="fa fa-plus"></i>
            </button> -->
                <button id="vote-button" class="btn btn-default " value="{{ skill.userSkillId  }}">
                {{ skill.skill.name }} <span class="badge">4</span>
                </button>  
            </li>   
        {% endfor %}
        </div>
        {% endfor %}
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}



{# ------------ if you search users ------------ #}

{% if results %}
    <div class="row">
    <div class="col-md-9">
    <table class="table border bordered">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Cuenta(s)</th>
            <th>Skill(s)</th>
            <th>Ops</th>
        </tr>
        </thead>
        <tbody>
        {% for user in results %}
        <tr>
            <td>
            <a class="btn btn-link" data-toggle="modal" data-target="#myModalAccount">
            <i class="fa fa-heart"></i>
            </a>
            &nbsp;{{ user.name }} {{ user.lastName}} {{ user.surName }}</td>
            <td>
            {% for account in user.accounts %}
                <button class="btn btn-link">{{ account.name }}</button>
            {% endfor %}
            </td>
            <td>
            {% for skill in user.skills %}
                {% if loop.index0 <= 4 %}
                <button type="button" class="btn btn-success">{{ skill.skill.name }}</button>
                {% endif %}
            {% endfor %}
            </td>
            <td>
                <a href="#" onclick="showCharm({{ user.userId}})" class="btn btn-link" data-toggle="modal" data-target="#myModal">Ver mas</a>
            </td>
        </tr>
        {% endfor %}   
        </tbody>
    </table>
    </div>

{# Division #}

    <div class="col-md-3">
    
    {% for user in results %}
                <ul style="text-decoration:none;list-style-type:none;">
                <div style="display:none;" class="user-skills" id="user-{{ user.userId }}">
                <h3>Selecciona Skills</h3>
                {% for skill in user.skills %}
                    <li>
                    <button type="button" class="btn btn-info btn-circle">
                    <i class="fa fa-plus"></i>
                    </button>
                        <button class="btn btn-info ">
                        {{ skill.skill.name }}
                        </button>  
                    </li>   
                {% endfor %}
                </div>
                </ul>
    {% endfor %}
    </div>
</div>
{% endif %}

{# ---------------------- if search in Skill box field --------------------------- #}

{% if allSkills %}
    {{ dump(allSkills) }}
    
        <div class="row">
        <div class="col-md-9">
            <table class="table border bordered">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cuenta(s)</th>
                    <th>Skill(s)</th>
                    <th>Ops</th>
                </tr>
                </thead>
                <tbody>
            {% for skill in allSkills %}
                {% for users in skill.users %}
                    <tr>
                        <td>
                        <a class="btn btn-link" data-toggle="modal" data-target="#myModalAccount">
                        <i class="fa fa-heart"></i>
                        </a>
                        &nbsp;{{ users.user.name }} {{ users.user.lastName}} {{ users.user.surName }}</td>
                        <td>
                        {% for account in users.user.accounts %}
                            <button class="btn btn-link">{{ account.name }}</button>
                        {% endfor %}
                        </td>
                        <td>
                        {% for skill in users.user.skills %}
                            {% if loop.index0 <= 4 %}
                            <button type="button" class="btn btn-success">{{ skill.skill.name }}</button>
                            {% endif %}
                        {% endfor %}
                        </td>
                        <td>
                            <a href="#" onclick="showCharm({{ users.user.userId}})" class="btn btn-link" data-toggle="modal" data-target="#myModal">Ver mas</a>
                        </td>
                    </tr>
                {% endfor %}
                {% endfor %}
        </tbody>
    </table>
</div>
{# Division #}
    <div class="col-md-3">
    {% for skills in allSkills %}
    {% for user in skills.users %}
                <ul style="text-decoration:none;list-style-type:none;">
                <div style="display:none;" class="user-skills" id="user-{{ user.user.userId }}">
                <h3>Selecciona Skills</h3>
                {% for skill in user.user.skills %}
                    <li>
                    <button type="button" class="btn btn-info btn-circle">
                    <i class="fa fa-plus"></i>
                    </button>
                        <button class="btn btn-info ">
                        {{ skill.skill.name }}
                        </button>  
                    </li>   
                {% endfor %}
                </div>
                </ul>
    {% endfor %}
    {% endfor %}
    </div>
</div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="myModalAccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                <h4 class="modal-title" id="myModalLabel">Armar equipo</h4>
            </div>
            <div class="modal-body">
                <h3>Selecciona equipo</h3>
                    <ul>
                    {% for account in listAccounts %}
                        <li>
                        <button class="button cycle-square">
                        {{ account.name }}
                        </button>
                        </li>
                    {% endfor %}
                    </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar usuario</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/rating/rate.js') }}"></script>
{% endblock %}
{% endblock %}

