{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('js/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('js/datatables-responsive/css/dataTables.responsive.css') }}" rel="stylesheet">
{% endblock %}
{% block body -%}
<div id="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Cuentas</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"> Cuentas </div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables" role="grid" >
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>Descripcion de la tecnologíia</th>
                                                <th>Nombre del Líder</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for entity in entities %}
                                                <tr>
                                                    <td><a href="{{ path('account_show', { 'id': entity.accountId }) }}">{{ entity.accountId }}</a></td>
                                                    <td>{{ entity.name }}</td>
                                                    <td>{{ entity.technologyDescription }}</td>
                                                    <td>{{ entity.leaderName }}</td>
                                                    <td>
                                                        <ul>
                                                            <li><a href="{{ path('account_show', { 'id': entity.accountId }) }}">show</a></li>
                                                            <li><a href="{{ path('account_edit', { 'id': entity.accountId }) }}">edit</a></li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            {% endfor %}   
                                        </tbody>
                                    </table>
                                    <span>
                                        <a href="{{ path('account_new') }}">
                                            <i class="glyphicon glyphicon-plus-sign"></i> Crear cuenta
                                        </a>    
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/user/userList.js') }}"></script>
{% endblock %}