{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('js/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('js/datatables-responsive/css/dataTables.responsive.css') }}" rel="stylesheet">
{% endblock %}
{% block body -%}
<div id="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Cuentas</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                                    <span>
                                        <a href="{{ path('account_new') }}">
                                            <i class="glyphicon glyphicon-plus-sign"></i> Crear cuenta
                                        </a>    
                                    </span>
                </div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables" role="grid">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th class="hidden-xs">Tecnología</th>
                                                <th class="hidden-xs">Nombre del Líder</th>
                                                <th style="background:none; cursor:default; width:64px"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for account in accounts %}
                                                <tr>
                                                    <td>{{ account.name }}</td>
                                                    <td class="hidden-xs">{{ account.technologyDescription }}</td>
                                                    <td class="hidden-xs">{{ account.leaderName }}</td>
                                                    <td style="text-align:center">
                                                            <a href="{{ path('account_edit', { 'id': account.accountId }) }}"><i class="glyphicon glyphicon-edit"></i></a>
                                                            <a href="{{ path('account_delete', { 'id': account.accountId }) }}"><i class="glyphicon glyphicon-trash"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}   
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/user/userList.js') }}"></script>
{% endblock %}