{% extends '::base.html.twig' %}

{% block body -%}
<div class="container-fluid">
    <div class="row">
       <div class="col-lg-12">
            <h1 class="page-header">Crear Cuenta</h1>
        </div>
    </div>
    <form method="POST" action="{{ path('account_create')}}"> 
        <div class="col-lg-4">
            <div class="well">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Nombre de la cuenta: </label> {{ account.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Descripcion de la tecnologia: </label> {{ account.technologyDescription }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Lider de cuenta: </label> {{ account.leaderName }}
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class"col-lg-12">
                        <div class="col-lg-7 col-lg-offset-2">
                            <a href="{{ path('account') }}">Regresar</a> | <a href="{{ path('account_edit', { 'id': account.accountId }) }}">Editar</a>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </form> 
</div>  
{% endblock %}
