{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="timeline">
        {% for user in users %}
            <div class="timeline-item">
                <div class="timeline-badge">
                    <img class="timeline-badge-userpic" src="{{ asset('uploads/profilePhotos/' ~ user.image) }}">
                </div>
                <div class="timeline-body">
                    {% for skill in user.skills|reverse(true)|slice(0, 1) %}
                        <div class="timeline-body-arrow">
                        </div>
                        <div class="timeline-body-head">
                            <div class="timeline-body-head-caption">
                                <a href="{{ path('user_profile', { 'id': user.userId }) }}"
                                   class="timeline-body-title font-blue-madison">{{ user.name }} {{ user.lastName }} {{ user.surName }} </a>
                                <span class="timeline-body-time font-grey-cascade">{{ user.position.name }}</span>
                            </div>
                            <div class="timeline-body-head-actions">
                                <div class="btn-group">
                                    {% set status = "unlike" %}
                                    {% set score =  0 %}
                                    {% for vote in votes %}
                                        {% for count in counts %}
                                            {% if  count.us_userSkillId  ==  skill.skill.skillId %}
                                                {% set score =  count.total %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if (vote.userkill.skill.skillId == skill.skill.skillId) and (vote.user.userId ==  userLogged) %}
                                            {% set status =  "like" %}
                                        {% endif %}
                                    {% endfor %}
                                    <button class="btn btn-default rating {{ status }}" type="button"
                                            value="{{ skill.skill.skillId }}">
                                        <i class="fa fa-thumbs-o-up"></i>
                                        <span class="badge">{{ score }}</span>
                                    </button>
                                </div>
                            </div>
                            <div class="timeline-body-head-actions">
                            </div>
                        </div>
                        <div class="timeline-body-content">
                            Agregó <b> {{ skill.skill.name }} </b>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}