{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/dashboard3.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}

    <div class="timeline">
        {% for user in users %}
            <div class="timeline-item">
                <div class="timeline-badge">
                    <img class="timeline-badge-userpic" src="{{ asset('uploads/profilePhotos/' ~ user.image) }}">
                </div>
                <div class="timeline-body">
                    {% for skill in user.skills|reverse(true)|slice(0, 1) %}
                        <div class="timeline-body-arrow">
                        </div>
                        <div class="timeline-body-head">
                            <div class="timeline-body-head-caption">
                                <a href="{{ path('user_profile', { 'id': user.userId }) }}"
                                   class="timeline-body-title font-blue-madison">{{ user.name }} {{ user.lastName }} {{ user.surName }} </a>
                                <span class="timeline-body-time font-grey-cascade">{{ user.position.name }}</span>
                            </div>

                            <div class="timeline-body-head-actions">
                                <div class="btn-group">
                                    <label class="total"></label>
                                    <button class="btn btn-circle green-haze btn-sm rating unlike"
                                            value="{{ skill.skill.skillId }}">
                                        <i class="fa fa-thumbs-o-up"></i>
                                    </button>
                                </div>
                            </div>


                            <div class="timeline-body-head-actions">
                            </div>
                        </div>
                        <div class="timeline-body-content">
                            Agregó <b> {{ skill.skill.name }} </b>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>




{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/rating/rate-skills.js') }}"></script>
{% endblock %}

{#
<div class="row"> 
    <div class="col-lg-9 col-lg-push-1 "> 
        <ul class="timeline">  {% for user in users %} 
            <li class="timeline-blue"> 
                <div class="timeline-time"> 
                    <span class="time"> <a  href="{{ path('user_profile', { 'id': user.userId }) }}">{{ user.name }} {{ user.lastName }} {{ user.surName }} </a> </span> 
                    <span class="date"> {{ user.position.name }} </span> 
                </div>
                  {% for skill in user.skills|reverse(true)|slice(0, 1) %} 
                <button class="timeline-icon rating unlike" value="{{ skill.skill.skillId }}">  <i
                            class="fa fa-thumbs-o-up"></i> 
                </button>
                <div class="timeline-body">  Agregó <b> {{ skill.skill.name }} </b> </div>
                  {% endfor %} 
            </li>
              {% endfor %} 
        </ul>
    </div>
</div>
#}
