{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
        {% for user in users %}
            {% for skill in user.skills|reverse(true)|slice(0, 1) %}
                <div class="col-md-6 col-lg-4">    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label><a href="{{ path('user_profile', { 'id': user.userId }) }}">{{ user.name }} {{ user.lastName }} {{ user.surName }} </a></label>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12 votes">
                                <div class="btn-group">
                                    {% set status = "unlike" %}
                                    {% for vote in skill.vote %}
                                        {% if vote.user.userId ==  userLogged %}
                                            {% set status =  "like" %}
                                        {% endif %}
                                    {% endfor %}
                                    <button class="btn btn-default rating {{ status }}" type="button" value="{{ skill.userSkillId }}">
                                        <i class="fa fa-thumbs-o-up"></i>
                                        <span class="badge">{{ skill.vote | length }}</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-12 userimage">
                                <img class="timeline-badge-userpic" src="{{ asset('uploads/profilePhotos/' ~ user.image) }}">
                            </div>
                            <div class="col-lg-12 userskill">
                                <p style="margin-top:10px; margin-bottom: 0;"> Recientemente agregó <b> {{ skill.skill.name }} </b>.</p>
                                {% if user.position %}
                                    <p><label>{{ user.position.name }}</label></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
{% endblock %}