{% extends '::base.html.twig' %}
{% block stylesheets %}
	<link href="{{ asset('css/user/userEdit.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('css/datepicker.css') }}" rel="stylesheet">
	<link href="{{ asset('css/jquery-ui.css') }}" rel="stylesheet">
{% endblock %}
{% block body -%}
    <div id="wrapper">
        <!-- Page Content -->
        <div class="container-fluid">
           	<form method="POST" action="{{ path('user_update', {'id': user.userId}) }}" id="register" enctype="multipart/form-data">

	            <div class="row">
	                <div class="col-lg-12">
	                	{% if flag == true %}
	                    	<h1 class="page-header">Bienvenido {{ app.user.name }}, continua con tu registro</h1>
	                	{% else %}
	                		<h1 class="page-header">Editar usuario</h1>
	                	{% endif %}
	                </div>
	                <!-- /.col-lg-12 -->
	            </div>
	            <!-- /.row -->
	            <div class="row">
	                <div class="col-lg-12">
		                <div class="user panel panel-default">
							<div class="panel-heading"><h4> Usuario </h4></div>
							<div class="panel-body" >
								<div class="row" >
									<div class="col-lg-3 profile-pic" >
										{% if user.image %}
											<img src="{{ asset('uploads/profilePhotos/' ~ user.image) }}" id="output" class="register">
										{% else %}
											<img src="{{ asset('user.jpg') }}" id="output" class="register">
										{% endif %}
										<i class="fa fa-pencil fa-lg file-input btn-file">
										   	<input name="image" type="file" />
										</i>
									</div>
									<div class="col-lg-9" >
									<div class="col-lg-4">
							        	<label>Nombre</label>
										<input type="text" value="{{user.name}}" name="name" class="form-control" />
									</div>
									<div class="col-lg-4">
							        	<label>Apellido Paterno</label>
										<input type="text" value="{{user.lastName}}" name="lastname" class="form-control" />
									</div>
									<div class="col-lg-4">
							        	<label>Apellido Materno</label>
								        <input type="text" value="{{user.surName}}" name="surname" class="form-control" />
									</div>
									<div class="col-lg-12">
								        <label>Correo</label>
								        <input type="text" value="{{user.username}}" name="email" class="form-control" />
									</div>
									{% if flag != true %}
										<div class="col-lg-12">
								            <label>Contraseña</label>
								            <input type="password" name="password" class="form-control" placeholder="Ingrese nueva contraseña"/>
										</div>
									{% endif %}
									<div class="col-lg-12">
									    <label>Fecha de contratación</label>
									    <div class="input-group ">
									    	{% if user.admissionDate is null %}
									    		<input type="text" class="form-control date" value="" name="admissionDate" placeholder="(YYYY-MM-DD)" />
									    	{% else %}
									        	<input type="text" class="form-control date" value="{{ user.admissionDate|date('Y-m-d') }}" name="admissionDate" placeholder="(YYYY-MM-DD)" />
									    	{% endif %}
									        <span class="input-group-btn" >
									            <button class="btn btn-default date" type="button">
									            <i class="fa fa-calendar-o"></i></button>
									        </span>
									    </div>
						            </div>
						            <div class="col-lg-12">
                                        <label>Puesto</label>
                                        {% if userPosition is null %}
	                                        <select class="form-control" name="position" title="Puesto" placeholder="Puesto">
                                                <option value="" selected="selected"> </option>
	                                            {% for position in positions %}
	                                                <option value="{{ position.positionId }}">{{ position.name }}</option>
	                                            {% endfor %}
	                                        </select>
	                                    {% else %}
											<select class="form-control" name="position" title="Puesto" placeholder="Puesto">
	                                            {% for position in positions %}
	                                            	{% if position.positionId == userPosition.positionId %}
		                                                <option value="{{ position.positionId }}" selected="selected">{{ position.name }}</option>
		                                            	}
		                                            	{% else %}
		                                            	<option value="{{ position.positionId }}">{{ position.name }}</option>
	                                            	{% endif %}
	                                            {% endfor %}
	                                        </select>
	                                	{% endif %}
                                    </div>
                                    {% if is_granted('ROLE_ADMIN') %}
	                                    <div class="col-lg-12">
	                                        <label>Rol</label>
	                                        <select class="form-control" name="role" title="Rol" placeholder="Rol">
	                                            {% for role in roles %}
	                                            	{% if role.id == userRole %}
		                                                <option value="{{ role.id }}" selected="selected">{{ role.name }}</option>
		                                            	}
		                                            {% else %}
		                                            	<option value="{{ role.id }}">{{ role.name }}</option>
	                                            	{% endif %}
	                                            {% endfor %}
	                                        </select>
	                                    </div>
                                	{% endif %}
									</div>
								</div>
							</div>
		                </div>
	                <!-- /.col-lg-12 -->
	            	</div>
	            </div>
	            <div class="row" >
	            	<div class="col-lg-6" >
	            		<div class=" allSkills panel panel-default">
							<div class="panel-heading"><h4> Skills </h4></div>
							<div class="panel-body" >
								<div class="col-lg-12">
									<div id="insertSkill" class="form-group ">
			                            <input type="text" class="inputSkill form-control" id="autocompleteSkill" placeholder="Ingresa una skill a la vez" >

			                        </div>
							    </div>		
								{% set count = 0 %}
								<table class="skillsTable table table-striped">
									<thead>
										<tr>
											<th>Skill</th>
											<th>Eliminar</th>
										</tr>
									</thead>
									<tbody>
										{% for userSkill in userSkills %}
											{% if userSkill.isActive == 1 %}
												<tr class="skills">
													<td>
														<input type="hidden" value="{{userSkill.skill.name}}" name="skills[{{ count }}][name]" class="skillName" />
														{{userSkill.skill.name}}
														{# loop.index #}
													</td>
													<td>
														<input type="hidden" value="{{userSkill.skill.skillId}}" name="skills[{{ count }}][id]" class="skillId" />
													 	<button class="remove btn btn-default btn-xs"> <i class='fa fa-minus'></i> </button>
													</td>
												</tr>
											{% endif %}
											{% set count = count + 1 %}
										{% endfor %}
									</tbody>	
								</table>
							</div>
						</div>
	            	</div>
	            	<div class="col-lg-6" >
	            		<div class="accounts panel panel-default">
							<div class="panel-heading"><h4> Cuentas </h4></div>
							<div class="panel-body" >
								<div class="col-lg-12">
		                            {% set countAccount = 0 %}
		                            <ul class="accountsUl">
										{% for userAccount in accountList %}
											{% for account in accountsEntity %}
												{% if account.accountid == userAccount %}
													<li>
														<div class="checkbox">
															<input type="checkbox" value="{{ account.accountid }}" checked="checked"  name="account[{{ countAccount }}]"/>
															{{ account.name }}
														</div>
													</li>
												{% endif %}	
											{% endfor %}
											{% set countAccount = countAccount + 1 %}		
										{% endfor %}
										{% for resultado in resultados %}
											{% for account in accountsEntity %}
												{% if account.accountid == resultado %}
													<li>
														<div class="checkbox">
															<input type="checkbox" value="{{ account.accountid }}"  name="account[{{ countAccount }}]"/>
															{{ account.name }}
														</div>
													</li>
															{% endif %}
											{% endfor %}
											{% set countAccount = countAccount + 1 %}
										{% endfor %}	
		                            </ul>
		                        </div>
							</div>
						</div>
	            	</div>
	            </div>
	            <div class="row">
	            	<div class"col-lg-12">
	            		<div class="col-lg-4 col-lg-offset-9">
							<input type="submit" class="btn btn-success" value="Guardar"> | 
							<span>
								<a href="{{ path('user') }}">
									{% if flag == true %}
										Omitir
									{% else %}
										Cancelar
									{% endif %}
								</a>	
							</span>
						</div>
	            	</div>
	            </div>
           </form> 
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#wrapper -->
   	<script>
		var count = {{ count }};
	</script>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/user/editSkills.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery-ui.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/datepicker.js') }}"></script>
{% endblock %}