{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Userid</th>
                <td>{{ entity.userId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name  | capitalize }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastName | capitalize }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ entity.surName | capitalize }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.username }}</td>
            </tr>
            {# <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr> #}
            <tr>
                <th>Admissiondate</th>
                <td>{{ entity.admissionDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ entity.image }}</td>
            </tr>
        </tbody>
    </table>
    <h3>Habilidades</h3>
        <ul>
            {% for userSkill in userSkills %}
                <li>{{ userSkill.skill.name }}</li>
            {% endfor %}
        </ul>

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
    {% if is_granted('ROLE_RH') %}
        <li>
            <a href="{{ path('user_edit', { 'id': entity.userId }) }}">
                Edit
            </a>
        </li>
    {% endif %}
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
