{% extends '::base.html.twig' %}
{% block title %} {{ user.name }} {{ user.lastName }}  {% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/user/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div style="padding-top: 50px">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12" style="text-align: center">
                <div class="profile-userpic">
                    <img class="img-responsive" src="{{ asset('uploads/profilePhotos/' ~ user.image) }}">
                </div>
                <h3>{{ user.name }} {{ user.lastName }} {{ user.surName }} </h3>
                {{ user.position.name }}</br>
                {{ user.username }}<br>
                <b>Cuentas: </b>
                    {% for account in user.accounts %}
                        {{ account.name }} |
                    {% endfor %}
            </div>
        </div>
    </div>
<div class="col-lg-1"></div>
    <div class="col-lg-4">
        <div class="row">
            <h3>Habilidades</h3>
                {% for skill in user.skills %}
                        {% set status = "unlike" %}
                        {% set score =  0 %}
                        {% for vote in votes %}
                            {% for count in counts %}
                                {%  if  count.us_userSkillId  ==  skill.skill.skillId %}
                                    {% set score =  count.total %}
                                {% endif %}
                            {% endfor %}
                            {% if (vote.userkill.skill.skillId == skill.skill.skillId) and (vote.user.userId ==  userLogged) %}
                                {% set status =  "like" %}
                            {% endif %}
                        {% endfor %}
                        <button class="btn btn-default rating {{ status}}" type="button" value="{{ skill.skill.skillId }}">
                            <i class="fa fa-thumbs-o-up"></i>
                            {{ skill.skill.name }} <span class="badge">{{ score }}</span>
                        </button>
                {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}